.navbar a {
    float: left;
    display:block;
    color:black;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

    
.header{
    padding: 80px;
    text-align: center;
    background: #367892;
}

.row{
    padding: 20px;
    text-align: center;
    background-color: #053649;
    
}

.side{
    padding: 10px;
    text-align: left;
    text-align: center;
}

.hidden {
    display: none;
}