*{
    box-sizing: border-box;
 }

.navbar a {
    float: left;
    display:block;
    color:black;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar a:hover{
    background-color:azure;
    color:black;
}

    
.header{
    padding: 100px;
    text-align: center;
    background: #01668e;
}

.row{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    background: #01668e;
    text-align: center;
}

.side{
    -ms-flex: 30%;
    flex: 30%;

}

.hidden {
    display: none;
}

.footer {
    padding: 20px;
    text-align: center;
    background: #01668e;
}

.main {
    padding: 100px;
    text-align: left;
    background: #01668e; 
}
