*{
    box-sizing: border-box;
 }

.navbar a {
    float: left;
    display:block;
    color:black;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar a:hover{
    background-color:azure;
    color:black;
}

    
.header{
    padding: 80px;
    text-align: center;
    background: #01668e;
}



.side{
    -ms-flex: 30%;
    flex: 30%;

}

.hidden {
    display: none;
}

.footer {
    padding: 20px;
    text-align: center;
    background-color: rgb(0, 131, 131);
}
